<%- include('partials/header') %>
   <section class="failure-section">
      <div class="failure">
         <h2>Company not found...!</h2>
         <p>Sry, for the inconvinience. Currently, we support only US stock market data, Forex markets and Crypto changes</p>
      </div>
      
      <a class="link" href="/"><button class="btn btn-secondary mx-auto" id="backToHome">Back to Home</button></a>
   </section>
   
<%- include('partials/footer') %>